*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 0px;
    align-content: center;
}
.logo a{
    font-size: 40px;
    font-weight: bold;
    float: left;
}
.menu{
    float: right;
}
nav{
    display: flex;
    line-height: 80px;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10%;
    top: 0;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav ul li{
    float: right;
}
nav ul li a{
    color:black;
    font-weight: bolder;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}
img{
    height: 350px;
    float: right;
    margin-top: 50px;
    margin-right: 100px;
}
.landing{
    position: absolute;
    margin-top: 150px;
    margin-left: 100px;
}
.landing p:nth-child(1){
    font-size: 40px;
    font-weight: bolder;
}
.landing p:nth-child(2){
    margin-top: 20px;
    color: gray;
}
button{
    width: 150px;
    margin:10px 5px;
    font-size: 20px;
    padding: 5px 0;
    text-align: center;
    background: transparent;
    border: 3px solid turquoise;
    position: relative;
    overflow: hidden;
}
button:nth-child(2){
    background-color: turquoise;
    color: white;
}
.about{
    float: right;
    padding: 150px;
    position: relative;
    margin-top: -500px;
    margin-right: 100px;
}
.about p:nth-child(1){
    font-size: 40px;
    font-weight: bolder;
}
.about p:nth-child(2){
    margin-top: 20px;
    color: gray;
}
.img-2 {
    height: 400px;
    width: 450px;
    float: right;
    margin-top: 500px;
    margin-left: 50px;
}
.parameter{
    margin-top: -150px;
    float: right;
    margin-right: 200px;

}
.text{
    font-size: 25px;
    align-items: center;
    font-weight: bold;
}
.border{
    width: 500px;
}
.name{
    color: gray;
    margin-top: 10px;
    margin-left: -15px;
}
table tr th{
    padding-top: 10px;
    padding-bottom: 100px;
}
#strip{
    margin-left: 60px;
    margin-top: 10px;
    width: 20%;
    height: 3px;
    border-style: solid;
    border-color: rgb(0, 255, 200);
    background-color: rgb(0, 255, 200);
}